<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Complication - HumanKontact.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Glance - HumanKontact.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>HumanKontact.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Notification - HumanKontact.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>keyboardTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7500075E1BC3253F00F591D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75D8C35A1B42D26700EA3137</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75EB47431BC2D76600A0F755</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75EB474F1BC2D76600A0F755</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EF27BB41AAFFD7400F93112</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EF27BC91AAFFD7400F93112</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
